# or production
NODE_ENV=development

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# your can run this to get your auth secret -> openssl rand -hex 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# postgres db instance
DATABASE_URL=

# Change to your project's client ID and secret, these work with localhost:3000 and localhost:3001 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback


GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/callback/github
